.search-box {
  padding: 1px 20px 1px 20px;
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

input, button, select, textarea{color: #000066;}

a.btn-primary {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,294356+59 */
background: rgb(53,106,160); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(53,106,160,1) 0%, rgba(41,67,86,1) 59%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(53,106,160,1) 0%,rgba(41,67,86,1) 59%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(53,106,160,1) 0%,rgba(41,67,86,1) 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#294356',GradientType=0 ); /* IE6-9 */
color: #fff !important;
padding: 4px;
}
.btn-danger {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,294356+59 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,4c1300+100 */
background: rgb(204,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(204,0,0,1) 0%, rgba(76,19,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(204,0,0,1) 0%,rgba(76,19,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(204,0,0,1) 0%,rgba(76,19,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#4c1300',GradientType=0 ); /* IE6-9 */
color: #fff !important;
padding: 4px;
}

a.btn-default {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#356aa0+0,294356+59 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,4c1300+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
color: #fff !important;
padding: 4px;
}

a.btn-primary:hover, a.btn-default:hover, a.btn-danger:hover{color: #ffff00!important;}


.navbar-brand {height: auto!important;}

footer{margin-top: 60px!important;}